-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  %div.col-6.m-3
    .form-inputs
      = f.input :title
      = f.input :description


    .form-actions
      = f.button :submit, class: 'flex btn btn-primary my-3'

